#! /bin/bash
# bspc rule -a Gimp desktop='^8' state=floating follow=on

bspc rule -a Yad state=floating
bspc rule -a kitty desktop='^1' follow=on
bspc rule -a Code desktop='^10' follow=on
bspc rule -a Pcmanfm desktop='^4' follow=on
bspc rule -a Spotify desktop='^6' follow=on
bspc rule -a Xfce4-settings-editor desktop='^8' follow=on
bspc rule -a Xfce4-settings-manager desktop='^8' follow=on
bspc rule -a Lxappearance desktop='^8' follow=on

#bspc rule -a MEGAsync desktop='^7' follow=on
#bspc rule -a discord desktop='^7'
#bspc rule -a mplayer2 state=floating
#bspc rule -a Zathura state=tiled
#bspc rule -a Kupfer.py focus=on
#bspc rule -a Screenkey manage=off
